<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper" >
      <div class="container-fluid">
          <app-breadcrumbs></app-breadcrumbs>
          <div class="row">
              <div class="col-12">
                  <div class="card">
                      <div class="card-body">
                          Estas son las rutas del sistema
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
<app-footer></app-footer>

</div>
